header {
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
	
}

body{
	background-color: darkslategray;
	background-image: url("http://s.hswstatic.com/gif/deep-linking-orig.jpg");
}
h1{
	font-size: 60px;
	font-style: italic;
	font-weight: bolder;
	color: lightsteelblue;
	padding: 30px;
}
img{
	align-items: center;
}

h3{
	
	padding:10px;
	border-width: 10px;
	border-color: darkgrey;
	border-style: outset;
	color: lightgoldenrodyellow;
	font-size: x-large;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	

}

footer{
	color: lightcyan;
	font-family: "Times New Roman";
	text-align: right;
	font-size: small;
}